.navbar {
  display: flex;
  justify-content: center; /* Căn giữa các mục menu theo chiều ngang */
  background-color: #000; /* Màu nền */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px; /* Khoảng cách giữa các mục menu */
}

.navbar li a {
  display: block;
  color: white; /* Màu chữ */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Thêm hiệu ứng mượt khi chuyển đổi màu nền */
  padding: 14px 16px; /* Thêm padding để các mục menu có khoảng cách hợp lý */
}

.navbar li a:hover {
  background-color: #f9f9f9;
  color: #333; /* Màu chữ khi di chuột qua */
}

.navbar li a:active {
  background-color: #ddd; /* Màu nền khi đang được click */
}