body {
  text-align: center;
  }
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffaa500; /* Màu nền */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white; /* Màu chữ */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Thêm hiệu ứng mượt khi chuyển đổi màu nền */
}

.navbar li a:hover {
  background-color: #f9f9f9;
  color: #333; /* Màu chữ khi di chuột qua */
}

.navbar li a:active {
  background-color: #ddd; /* Màu nền khi đang được click */
}