/* Thiết lập font chữ chính */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* Phần header */
details {
    margin: 20px 0;
    padding: 20px;
    background-color: #87CEED;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

summary {
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #fff; 
}

a {
    color: #000; /* Màu đen */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Phần container */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, .end {
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

p {
    color: #000;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

span {
    font-weight: bold;
}

/* Phần footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
        }

        footer p {
            margin: 0;
        }

/* Menu */
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 1;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: none;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #000;
}

.logo {
    text-align: center;
}

/* CSS cho nút Tìm kiếm IP */
#search-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* CSS cho input */
#search-ip {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

/* Hover effect */
#search-button:hover {
    background-color: #ebebeb;
}

/* Khu vực hiển thị kết quả */
#ip-info {
    color: #fff;
    margin-top: 10px;
}

.info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.info h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 10px;
}

.info ul li a {
    color: #007bff;
    text-decoration: none;
}

.info ul li a:hover {
    text-decoration: underline;
}